<%= form_with(model: @idea, url: theme_ideas_path(@theme), local: true) do |form| %>
    <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= @idea.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="idea_title">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "タイトルを入力してください" %>
  </div>
  <div class="idea_content">
    <%= form.label :content %>
    <%= form.text_field :content, placeholder: "内容を入力してください" %>
  </div>
  <div class="idea_img">
    <%= form.label :img %>
    <div class="idea_title">
  <%= form.label :title %>
  <%= form.text_field :title, placeholder: "タイトルを入力してください" %>
</div>
<div class="idea_content">
  <%= form.label :content %>
  <%= form.text_field :content, placeholder: "内容を入力してください" %>
</div>
<div class="idea_img">
  <%= form.label :img %>
  <%= form.file_field :img %>
</div>
  </div>
    <%= form.submit %>
<% end %>
