<%= form_with(model: @idea, local: true) do |form| %>
    <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= @idea.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="idea_title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="idea_content">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div class="idea_img">
      <%= form.label :img %>
      <%= form.text_field :img %>
    </div>

    <%= form.submit %>
<% end %>
  