<% if @theme.user_id == current_user.id %>
  <h1>アイデア詳細画面</h1>
  <td>
    <% @theme.labels.each do |label| %>
      <%= label.name %>
    <% end %>
  </td>
  <p>募集タイトル: <%= @theme.title %></p>
  <p>アイデアタイトル: <%= @idea.title %></p>
  <p>内容: <%= @idea.content %></p>
  <% if @idea.img.present? %>
    <p>
      <strong>画像:</strong>
      <%= image_tag @idea.img.url %>
    </p>
  <% end %>
<% end %>
