<%= form_with(model: @theme, local: true) do |form| %>
    <% if @theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= @theme.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="theme_title">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "タイトルを入力してください" %>
  </div>
  <div class="theme_content">
    <%= form.label :content %>
    <%= form.text_field :content, placeholder: "内容を入力してください" %>
  </div>
  <div class="theme_reword">
    <%= form.label :reword %>
    <%= form.text_field :reword, placeholder: "報酬を入力してください" %>
  </div>
  <div class="theme_img">
    <%= form.label :img %>
    <%= form.file_field :img, placeholder: "画像を選択してください" %>
  </div>
  <div class="field">
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>


    <%= form.submit %>
<% end %>
  