<h1>募集一覧</h1>

<p><%= notice %></p>

<%= search_form_for @search do |f| %>
  <% Label.all.each do |label| %>
    <%= f.check_box :labels_id_eq_any, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <label><%= label.name %></label>
  <% end %>
  <%= f.submit "検索" %>
<% end %>

<% @themes.each do |theme| %>
  <table>
  <thead>
    <tr>
      <th class="title">タイトル</th>
      <th class="type">種別</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="title"><%= theme.title %></td>
        <td class="type">
          <% theme.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= link_to '詳細を確認する', theme_path(theme.id) %></td>
      </tr>
  </tbody>
  </table>
<% end %>

  <%= paginate @themes %>

<%= link_to 'アイデアを募集する',new_theme_path  %>