<h1>募集一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.title %></td>
    <td><%= theme.content %></td>

    <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
    <%= link_to "ブログを編集する", edit_blog_path(id) %>
  </tr>
<% end %>
</table>

<%= link_to 'アイデアを募集する',new_theme_path  %>