<h1>募集一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  
    <th>種別</th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.title %></td>
    <td><%= theme.content %></td>
    <td>
      <% theme.labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td>
    <td><%= link_to '編集', edit_theme_path(theme) %></td>
    <td><%= link_to '削除', theme_path(theme), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to '詳細を確認する', theme_path(theme.id) %></td>
  </tr>
<% end %>
</table>
<%= paginate @themes %>

<%= link_to 'topページへ',themes_path  %>
          