<h1>募集詳細画面</h1>
<p>タイトル: <%= @theme.title %></p>
<p>内容: <%= @theme.content %></p>
<p>報酬: <%= @theme.reword %></p>
<% if @theme.img.present? %>
  <p>
    <strong>画像:</strong>
    <%= image_tag @theme.img.url %>
  </p>
<% end %>
<td>
  <% @theme.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</td>
<br>

<% unless @theme.user_id == current_user.id %>
<%= link_to '参加する', new_theme_idea_path(@theme) %>
<br>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(theme_id: @theme.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @theme.user_id == current_user.id %>
  <h1>届いたアイデア</h1>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>

    <% @theme_ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.content %></td>
        <td><%= link_to '詳細を確認する', idea_path(idea.theme.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>