<h1>募集詳細画面</h1>

<table>
  <tr>
    <th>タイトル:</th>
    <td><%= @theme.title %></td>
  </tr>
  <tr>
    <th>報酬:</th>
    <td><%= @theme.reword %></td>
  </tr>
  <tr>
    <th>ラベル:</th>
    <td>
      <% @theme.labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>内容:</th>
    <td><%= @theme.content %></td>
  </tr>
    <% if @theme.img.present? %>
      <tr>
        <th>画像:</th>
        <td><%= image_tag @theme.img.url %></td>
      </tr>
    <% end %>
</table>
  <% unless @theme.user_id == current_user.id %>
    <%= link_to '参加する', new_theme_idea_path(@theme) %>
    <br>
      <% if @favorite.present? %>
        <%= link_to '保留を解除する', favorite_path(id: @favorite.id), method: :delete %>
      <% else %>
        <%= link_to '保留する', favorites_path(theme_id: @theme.id), method: :post %>
      <% end %>
  <% end %>

  <% if @theme.user_id == current_user.id %>
    <h1>届いたアイデア</h1>
  <% if @theme_ideas.any? %>
    <table>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
      <% @theme_ideas.each do |idea| %>
        <tr>
          <td><%= idea.title %></td>
          <td><%= idea.content %></td>
          <td><%= link_to '詳細を確認する', theme_idea_path(@theme,idea) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>まだアイデアはありません</p>
  <% end %>
  <%= form_tag send_email_theme_path(@theme), method: :post do %>
    <h1>アイデアを採用する</h1>
      <% if @theme_ideas.any? %>
        <% @theme_ideas.each do |idea| %>
          <p>
            <%= check_box_tag 'idea_ids[]', idea.id %>
            <strong>タイトル:</strong>
            <%= idea.title %>
          </p>
        <% end %>
        <%= submit_tag '選択したアイデアにメールを送る' %>
      <% else %>
        <p>アイデアがないので選択できません</p>
      <% end %>
 <% end %>
<% end %>


