<h1><%= @user.name %>のページ</h1>

<table>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <th>管理者</th>
    <td><%= @user.admin %></td>
  </tr>
</table>

<%= link_to 'トップページへ',themes_path  %>
