<!DOCTYPE html>
<html>
  <head>
    <title>Ideaapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <%= link_to 'マイページへ', user_path(current_user) %>
      <%= link_to 'お気に入り一覧', favorites_path(current_user) %>
      <%= link_to 'ユーザー募集一覧', my_theme_path %>
      <% if current_user.admin == 'true' %>
        <%= link_to '管理者ページへ', '/admin' %>
      <% end %>
    <% else %>
      <%= link_to 'このアプリについて', tops_path %><br>
    <% end %>
    <%= yield %>
  </body>
</html>
