<!DOCTYPE html>
<html>
  <head>
    <title>Ideaapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      ＃管理ページへ
    <% else %>
      #アプリ説明
    <% end %>
    <%= yield %>
  </body>
</html>
